{% extends "layout.html" %}
{% block content %}
<h1>Statistics for {{ data.username }}</h1>
<div class="container-fluid">
    <h2>When playing white:</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#win" role="tab">Won</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#lost" role="tab">Lost</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#draw" role="tab">Drawn</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="win" role="tabpanel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Opening</th>
                      <th scope="col">Played (%)</th>
                    </tr>
                </thead>
                
                {% for item in data.white.win %}
                <tr>
                    <td>
                        {{item[0]}}
                    </td>
                    <td>
                        {{item[1]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="lost" role="tabpanel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Opening</th>
                      <th scope="col">Played (%)</th>
                    </tr>
                </thead>
                
                {% for item in data.white.lost %}
                <tr>
                    <td>
                        {{item[0]}}
                    </td>
                    <td>
                        {{item[1]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="draw" role="tabpanel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Opening</th>
                      <th scope="col">Played (%)</th>
                    </tr>
                </thead>
                
                {% for item in data.white.draw %}
                <tr>
                    <td>
                        {{item[0]}}
                    </td>
                    <td>
                        {{item[1]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
  
<div class="container-fluid">
    <h2>When playing black:</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#winb" role="tab">Won</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#lostb" role="tab">Lost</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#drawb" role="tab">Drawn</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="winb" role="tabpanel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Opening</th>
                      <th scope="col">Played (%)</th>
                    </tr>
                </thead>
                
                {% for item in data.black.win %}
                <tr>
                    <td>
                        {{item[0]}}
                    </td>
                    <td>
                        {{item[1]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="lostb" role="tabpanel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Opening</th>
                      <th scope="col">Played (%)</th>
                    </tr>
                </thead>
                
                {% for item in data.black.lost %}
                <tr>
                    <td>
                        {{item[0]}}
                    </td>
                    <td>
                        {{item[1]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="drawb" role="tabpanel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Opening</th>
                      <th scope="col">Played (%)</th>
                    </tr>
                </thead>
                
                {% for item in data.black.draw %}
                <tr>
                    <td>
                        {{item[0]}}
                    </td>
                    <td>
                        {{item[1]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock content %}
